<%= form_tag '/cars', method: :post do %>
  <div>
    Make: <input type="text" name="make">
  </div>
  <div>
    Model: <input type="text" name="model">
  </div>
  <div>
    Year: <input type="text" name="year">
  </div>
  <div>
    Color: <input type="text" name="color">
  </div>
  <div>
    <input type="submit" value="Make Car">
  </div>
<% end %>